head {
    text-align: center;
}
body {
    font-family: Times 'Times New Roman', Times, serif, Helvetica, sans-serif;
    text-align: left;
    color:rgb(24, 4, 54);
    background-color: rgba(247, 249, 251, 0.63);
    height: 125vh;  
    margin-top: 80px;  
    padding: 30px;  
    background-size: cover;  
    font-family: sans-serif;  
    transition: 0.5s;
    
}

body.active{
    background: rgb(24, 4, 56);
    color: whitesmoke;
}

container {
    width: 80%;
    margin: 0 auto;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

header
{
    background-color: rgb(53, 39, 170);
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 70px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 rgb(24, 4, 54); 
    
}
header * {  
    display: inline;  
}  
header li {  
    margin: 20px;  
}  
header li a {  
    color: white;  
    text-decoration: none;  
}  



html {
    font-size: 16px;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6;

}





.logo {
    float: left;
    height: 50px;
    width: 200px;
     
}
.headShot{
    height: 300px;
    /* padding-left: 5vh;
    padding-right: 5vh; */
    border-radius: 50px;
}

img {
    height: 230px;
}


nav {
    float: right;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 60px;

    position: relative;
    
}

#navlist {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navlist li {
    margin-right: 20px; /* Adjust based on your spacing needs */
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    
}

nav a.active{
    
}
nav a:hover {
    color: #b594f8;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(233, 18, 136);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;

}

nav a:hover::before {
    width: 100%;
}


#react-root{
    margin-left: auto;
}


footer a {
	color: blueviolet;
	padding: 1em;
    text-align: center;
}

footer { 
    font-size: 1em;
    color: white;
	background-color: rgb(13, 27, 68);
 	text-align: center;
	margin-top: 20em;
	margin-left: -2em;
	margin-right: -2em;
	padding: -1em;
}
footer.active{
    background-color: blueviolet;
    color:aqua;
}
footer a.active{
    color:aqua;

}



.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 40px;
    height: 16px;
    border-radius: 30px;
}

.label i {
    color: #fff;
}


.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    transition: transform 0.2s linear;
}
.ball:active{
    background-color: #111;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

/* Add styles for dark mode elements */
body.active {
    /* Your dark mode styles, e.g., */
    background-color: #333;
    color: #fff;
}

/* Other styles for active dark mode */

.label:hover:active {
    border: 0px solid #1292e1;
    background: rgb(49, 14, 244);
    color: white !important;
    content: "Completed!" !important;
   }
  
 .label:active {
    background: #1292e1;
    color: white;
    text-decoration: none !important; 
    
   }

