head {
    text-align: center;
}
body {
    font-family: Times 'Times New Roman', Times, serif, Helvetica, sans-serif;
    text-align: left;
    color:rgb(24, 4, 54);
    background-color: rgba(136, 165, 192, 0.63);
    height: 125vh;  
    margin-top: 80px;  
    padding: 30px;  
    background-size: cover;  
    font-family: sans-serif;  
    
}

container {
    width: 80%;
    margin: 0 auto;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

header
{
    background-color: rgb(53, 39, 170);
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 70px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 rgb(24, 4, 54); 
    
}
header * {  
    display: inline;  
}  
header li {  
    margin: 20px;  
}  
header li a {  
    color: white;  
    text-decoration: none;  
}  


.logo {
    float: left;
    height: 50px;
    width: 200px;
     
}
img {
    height: 230px;
}

nav {
    float: right;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 60px;

    position: relative;
    
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    
}
nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(233, 18, 136);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;

}

nav a:hover::before {
    width: 100%;
}

footer a {
	color: blueviolet;
	padding: 1em;
	align: center;
    text-align: center;
}

footer { 
    font-size: 1em;
    color: white;
	background-color: rgb(13, 27, 68);
 	text-align: center;
	margin-top: 20em;
	margin-left: -2em;
	margin-right: -2em;
	padding: -1em;
}